.admin-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-content {
  flex: 1;
}
